{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Услуги и цены</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">


	  <script src="https://kit.fontawesome.com/2ca39b2682.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="mask">
		<div class="loader">
			<div class="loading">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>


	<header>
		<div class="bolo">
			<div class="nomber">
				<p><i class="fas fa-phone-alt"></i> 8(3952)67-63-09, 8(904)1-57-63-09 </p>
			</div>
			<div class="logo">
				<a href="index.html"><img class="graficlogo" src="{% static 'img/logo.png' %}" alt="Logo"></a>
			</div>
		</div>

		<nav>
			<div class="topnav" id="myTopnav">
				<a href="{% url 'index_page' %}">Главная</a>
				<a href="{% url 'prices_page' %}">Услуги и цены</a>
				<a href="{% url 'gallery_page' %}">Фотогалерея</a>
				<a href="{% url 'reviews' %}">Отзывы</a>
				<a href="{% url 'appli_online_page' %}">Запись Онлайн</a>
				<a href="{% url 'workers_page' %}">Наши специалисты</a>
                <a href="{% url 'actions_page' %}">Активные акции</a>
				<a id="menu" href="#" class="icon">&#9776;</a>
			</div>
		</nav>
	</header>

    <div class="zeman_wrapper_review">
        <div class="zeman_wrap_wrap">
            {% if message %}
                 <div class="message_review">
                    <div class="message_review_text">
                        {{ message }}
                    </div>
                </div>
            {% endif %}
            {% for review in reviews_list %}
                {% if review.status == 'Сохранён' %}
                    <div class="zeman_review_wrapper">
                        <div class="reviewer_name">
                            {{ review.name }}
                        </div>
                        <div class="review_text">
                            {{ review.review }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <br>
        <br>
        <br>
        <br>
            <div class="review_desc">
                <div class="review_desc_text">
                    Оставьте свой отзыв о нас:
                </div>
            </div>
            <form method="post" class="rev_form_input">
                {% csrf_token %}
                {{ form.name }}
                {{ form.email }}
                {{ form.review }}<br>
                <input type="submit" value="Отправить отзыв" class="cur_form_wrapper_form_sub">
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>

	<footer>
		<nav>
			<div class="bottomnav">
				<a href="index.html">Главная</a>
				<a href="services.html">Услуги и цены</a>
				<a href="gallery.html">Фотогалерея</a>
				<a href="testimonials.html">Отзывы</a>
				<a href="appointment.html">Запись Онлайн</a>
			</div>
		</nav>
		<div class="container_footer">
			<p>© 2018 АММА СПА-Центр. Все права защищены.</p>
			<a href=""><p>Политика конфиденциальности</p></a>
		</div>


	</footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>