{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Услуги и цены</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
	

	  <script src="https://kit.fontawesome.com/2ca39b2682.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="mask">
		<div class="loader">
			<div class="loading">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
  

	<header>
		<div class="bolo"> 
			<div class="nomber">
				<p><i class="fas fa-phone-alt"></i> 8(3952)67-63-09, 8(904)1-57-63-09 </p>
			</div>
			<div class="logo">
				<a href="index.html"><img class="graficlogo" src="{% static 'img/logo.png' %}" alt="Logo"></a>
			</div>
		</div>

		<nav>
			<div class="topnav" id="myTopnav">
				<a href="{% url 'index_page' %}">Главная</a>
				<a href="{% url 'prices_page' %}">Услуги и цены</a>
				<a href="{% url 'gallery_page' %}">Фотогалерея</a>
				<a href="{% url 'reviews' %}">Отзывы</a>
				<a href="{% url 'appli_online_page' %}">Запись Онлайн</a>
				<a href="{% url 'workers_page' %}">Наши специалисты</a>
                <a href="{% url 'actions_page' %}">Активные акции</a>
				<a id="menu" href="#" class="icon">&#9776;</a>	
			</div>
		</nav>
	</header>

	
<main>
        	<div class="prise_services">
        		<div class="prise_ser">
        			<div class="prise_servs">
        				<a href="{% url 'massages_page' %}"><img class="size_price_img" src="{% static 'img/massag.jpg' %}" alt="" ></a>
        				<a href="{% url 'massages_page' %}"><h3>МАССАЖИ</h3></a>
        			</div>
        			<div class="prise_servs">
        				<a href="{% url 'spa_page' %}"><img  class="size_price_img" src="{% static 'img/spa.jpg' %}" alt="" ></a>
        				<a href="{% url 'spa_page' %}"><h3>SPA-УХОДЫ</h3></a>
        			</div>
        			<div class="prise_servs">
        				<a href="{% url 'spa_for_two_page' %}"><img class="size_price_img" src="{% static 'img/spa-two.jpg' %}" alt="" ></a>
        				<a href="{% url 'spa_for_two_page' %}"><h3>SPA-УХОДЫ ДЛЯ ДВОИХ</h3></a>
        			</div>
        			<div class="prise_servs">
        				<a href="{% url 'certificates_page' %}"><img class="size_price_img" src="{% static 'img/sertificat.jpg' %}" alt="" ></a>
        				<a href="{% url 'certificates_page' %}"><h3>СЕРТИФИКАТ В ПОДАРОК</h3></a>
        			</div>
                    <div class="prise_servs">
        				<a href="{% url 'aboniments_page' %}"><img class="size_price_img" src="{% static 'img/aboniment.jpg' %}" alt="" ></a>
        				<a href="{% url 'aboniments_page' %}"><h3>АБОНИМЕНТЫ НА МАССАЖ И СПА</h3></a>
        			</div>
                    <div class="prise_servs">
        				<a href="{% url 'hidromassage_page' %}"><img class="size_price_img" src="{% static 'img/hidro.jpg' %}" alt="" ></a>
        				<a href="{% url 'hidromassage_page' %}"><h3>ГИДРОМАССАЖ</h3></a>
        			</div>
                    <div class="prise_servs">
        				<a href="{% url 'salt_page' %}"><img class="size_price_img" src="{% static 'img/salt_p.jpg' %}" alt="" ></a>
        				<a href="{% url 'salt_page' %}"><h3>СОЛЯНАЯ ПЕЩЕРА</h3></a>
        			</div>
                    <div class="prise_servs">
        				<a href="{% url 'hamam_page' %}"><img class="size_price_img" src="{% static 'img/hamam_p.jpg' %}" alt="" ></a>
        				<a href="{% url 'hamam_page' %}"><h3>ХАМАМ</h3></a>
        			</div>
        		</div>
        	</div>


</main>
	<footer>
		<nav>
			<div class="bottomnav">
				<a href="index.html">Главная</a>
				<a href="services.html">Услуги и цены</a>
				<a href="gallery.html">Фотогалерея</a>
				<a href="testimonials.html">Отзывы</a>
				<a href="appointment.html">Запись Онлайн</a>
			</div>
		</nav>
		<div class="container_footer">
			<p>© 2018 АММА СПА-Центр. Все права защищены.</p>
			<a href=""><p>Политика конфиденциальности</p></a>
		</div>


	</footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>