<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>СЕРТИФИКАТ</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
	

	  <script src="https://kit.fontawesome.com/2ca39b2682.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="mask">
		<div class="loader">
			<div class="loading">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
  

	<header>
		<div class="bolo"> 
			<div class="nomber">
				<p><i class="fas fa-phone-alt"></i> 8(3952)67-63-09, 8(904)1-57-63-09 </p>
			</div>
			<div class="logo">
				<a href="index.html"><img class="graficlogo" src="../img/logo.png" alt="Logo"></a>
			</div>
		</div>

		<nav>
			<div class="topnav" id="myTopnav">
				<a href="{% url 'index_page' %}">Главная</a>
				<a href="{% url 'prices_page' %}">Услуги и цены</a>
				<a href="{% url 'gallery_page' %}">Фотогалерея</a>
				<a href="{% url 'reviews' %}">Отзывы</a>
				<a href="{% url 'appli_online_page' %}">Запись Онлайн</a>
				<a href="{% url 'workers_page' %}">Наши специалисты</a>
                <a href="{% url 'actions_page' %}">Активные акции</a>
				<a id="menu" href="#" class="icon">&#9776;</a>
			</div>
		</nav>
	</header>

	
<main>

<div class="cert_content">
			<div class="prise_services">
				
					<div class="conten_massge">

					<div class="massage">
						<a href=""><p>SPA-УХОД ДЛЯ ДВОИХ «БАУНТИ» (9300 руб.)</p></a>
					</div>
					<div class="massage">
						<a href=""><p>SPA-УХОД ДЛЯ ДВОИХ «СЛАДКИЕ ГРЁЗЫ» (10300 руб.)</p></a>
					</div>
					<div class="massage">
						<a href=""><p>SPA-УХОД ДЛЯ ДВОИХ «ВОЛШЕБНЫЙ МИР» (11500 руб.)</p></a>
					</div>
					<div class="massage">
						<a href=""><p>SPA-УХОД ДЛЯ ДВОИХ «МАГИЯ ЛЮБВИ» (13400 руб.)</p></a>
					</div>
					<div class="massage">
						<a href=""><p>СОЛЯНАЯ ПЕЩЕРА (от 300 руб.)</p></a>
					</div>
					<div class="massage">
						<a href=""><p>ХАММАМ (800 руб.)</p></a>
					</div>
					<div class="massage">
						<a href=""><p>АБОНЕМЕНТЫ НА МАССАЖ И SPA</p></a>
					</div>
					

					</div>
				


        	</div>
  </div>

</main>


	<footer>
		<nav>
			<div class="bottomnav">
				<a href="../index.html">Главная</a>
				<a href="../services.html">Услуги и цены</a>
				<a href="gallery.html">Фотогалерея</a>
				<a href="testimonials.html">Отзывы</a>
				<a href="appointment.html">Запись Онлайн</a>
			</div>
		</nav>
		<div class="container_footer">
			<p>© 2018 АММА СПА-Центр. Все права защищены.</p>
			<a href=""><p>Политика конфиденциальности</p></a>
		</div>


	</footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<script src="../js/script.js"></script>
</body>
</html>