*{
	margin:	0;
	padding: 0;

}

a{
	text-decoration: none;

}

.a_nav_z{
	text-decoration: none;
	font-size: 18px;
	color: #323232;
}

li{
	text-decoration: none;
	list-style: none;
}

body{
	font-family: 'Raleway', sans-serif;
	background: rgba(255,255,255,0.5)  url(../img/bkg4-1024x500.png)no-repeat fixed left top;
    background-size: cover;
    background-attachment: fixed;
}

header{
	background-color: #7929A8;
}

.bolo{
	
	background-image: url(../img/bkg_image.png);
	background-size: cover;

}


.nomber {
	color: #fff;
	padding: 10px;
	float: right;
	height: 20px;
}

.graficlogo{

	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
}

nav{
	margin: auto;
	width: 920px;
	height: 50px;

	

}

.topnav{
	
	font-size: 14px;
	margin-top: 40px;

}

.topnav a{
	color: azure;
	text-align: center;
	padding: 14px 16px;
	font-size: 15px;
	position: relative;
  
}

.topnav a::before{
	content: '';
	bottom: 0;
	left: 0;
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: #000;
	transition: 0.3s;
}

.topnav a:hover:before{
	width: 100%;
}

.topnav .icon{
	display: none;
}



/*SLIDER*/
.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;

    
}

.slider {
    --color-1: #19365f; 
    --color-2: rgba(26, 101, 174, 0.7);
    position: relative;
   
}


.slider__arrow {
    position: absolute;
    top: 50%;
    margin: -10px;
    z-index: 1;
    outline: none;
    max-width: 100%;
}

.slider__arrow::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid var(--color-1);
    border-width: 2px 2px 0 0;
}

.slider__arrow:hover::before,
.slider__arrow:focus::before {
    border-color: var(--color-2);
}

.slider__arrow_left {
    left: 50px;
    transform: rotate(-135deg);
}

.slider__arrow_right {
    right: 50px;
    transform: rotate(45deg);
}

.slider__slide {
    display: none;
    max-width: 100%;
}

.slider__slide_active {
    display: block;
}

.slider__dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 1;
}

.slider__dot {
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--color-1);
    border-radius: 50%;
    outline: none;
}

.slider__dot:hover,
.slider__dot:focus {
    border-color: var(--color-2);
}

.slider__dot_active {
    background-color: var(--color-1);
}

.slider__dot_active:hover,
.slider__dot_active:focus {
    border-color: transparent;
    background-color: var(--color-2);
}

.sliderimg{
	max-width: 100%;
	text-align: center;
}

.description{
	margin: auto;
	width: 89%;
	background: url(../img/backgroundcertfone.png) ;
	background-repeat: repeat-y;
	background-position: center !important;
    background-size: cover !important;
	border-radius: 25px;
	color: #323232;
	border: 14px #A5617C solid;
}
.description{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.description p{
	padding: 10px;
}

.prise_container{
	display: flex;
	justify-content: center;


}

.prise{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;

}

.prise_items{
	width: 40%;
	padding: 10px;
	background-color: #7929A8;
	border-radius: 25px;
	margin-top: 10px;
	color: white;
	transition: 0.5s;

}

.prise_items:hover{
	background-color: #995380;
}

.prise_items a{
	text-decoration: none;
	color: white;
}


.prise_items .size_price_img{
	width: 10%;
	transition: 0.5s;

}



.geolocation{
	text-align: center;
}

.geo_content{
	margin-bottom: 20px;
}

.geolocation h1{
	margin-bottom: 10px;
	color: #7929A8;
	transition: 0.5s;
}



.contactad{
	margin-bottom: 10px;
  	color: white;
}
.contactad p{
	transition: 0.5s;
}


/*FOOTER*/
footer{
	width: 100%;
	height: auto;
	background-color: #7929A8;
	margin:0 auto;
	text-align: center;
	padding-top: 55px;
	padding-bottom: 10px;
}

footer a{
	color: white;
	font-size: 14px;
	margin-left: 40px;
	transition: 0.5s;

}


footer nav a:hover{
	border-bottom: 1px solid white;
	transition: 0.5s;
}


.container_footer{
	color: white;
	margin-bottom: 10px;
}

.container_footer a:hover{

	font-size: 16px;
	color: black;

}



/*USLUGI*/

.prise_services{
	display: flex;
	justify-content: center;
}

.prise_ser{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;

	display: flex;
	justify-content: space-evenly;
	text-align: center;
	flex-wrap: wrap;
}

.prise_servs{
	margin-bottom: 90px;
	width: 23%;
}

.prise_servs a{
	text-decoration: none;

}

.prise_servs img{
	border-radius: 100px;
}


.prise_servs h3{
	font-size: 20px;
	transition: 0.5s;
	color: #fff;
	margin-top: 13px;
}


.size_price_img{
	width: 80%;
	transition: 0.5s;
}



/*certificat*/

.cert_content{
	height: 100%;
	width: 90%;
	margin: auto;
	background: url(../img/backgroundcertfone.png) ;
	background-repeat: repeat-y;
	background-position: center !important;
    background-size: cover !important;
    background-repeat: repeat-y;
    border-radius: 10px !important;
    margin-bottom: 40px;
}

.wpb_row{
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
}
.wpb_wrapper h2{
	color: #7929A8;
	margin-bottom: 5px;
	margin-top: 10px;
}
.vcinner_img img{
	width: 80%;
    text-align: center;
    margin: auto;
    display: flex;
    margin-top: 15px;
}

.vc_inner{
	margin: auto;
    text-align: center;
	margin-bottom: 35px;
}
.vcinner_img{
	display: inline-block;

    margin-right:5px;
    height:100%;
	width: 25%;
	margin-top: 5px;
}
.button_certificat {
	display: flex;
	justify-content: center;
	text-align: center;

}
.double-border-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #7929A8;
  color: #7929A8;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;

}
.double-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.double-border-button:hover:after {
  border-color: #7929A8;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

/*MASSEGE*/

.conten_massge{
	padding: 20px;
	text-align: center;
	width: 80%;
	margin: 0;
	text-align: center;
}

.massage {
	margin-top: 10px;
	width: 100%;
	background-color: rgba(130,36,227,0.5);
	border-radius: 100px;
	transition: 0.3s;
}

.prise_services .conten_massge .massage a{
	color: #fff;
	display: block;
    padding: 14px 20px;

}

.massage:hover{
	background-color: rgba(255, 0, 255, 0.6);
	transition: 0.3s;
}

/*LOADER*/
.mask{
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	z-index: 100;
	transition: 0.6s;
	display: flex;
	justify-content: center;
	align-items: center;
}


.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
	animation: animate 1.2s ease-in-out infinite;
}

@keyframes animate {
	0%,
	10%,
	100% {
		height: 40px;
		width: 40px;
	}
	65% {
		height: 70px;
		width: 70px;
	}
}

span {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	animation: rotate 1.2s linear both infinite;
}

@keyframes rotate {
	0%,
	30% {
		transform: rotate(0);
	}
	65% {
		transform: rotate(-40deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}

span:nth-child(1) {
	top: 0;
	left: 0;
	background: #55d462;
}

span:nth-child(2) {
	top: 0;
	right: 0;
	background: #8675e5;
}

span:nth-child(3) {
	bottom: 0;
	left: 0;
	background: #d84c77;
}

span:nth-child(4) {
	bottom: 0;
	right: 0;
	background: #fd9a3f;
}


.hide{
	opacity: 0;
}

@media screen and (max-width: 768px){
	.salt_desc_name{
		width: 100%;
	}

  	.serv_right, .serv_left{
  		min-width: 100%;
  	}


  	.serv{
  		min-width: 91%;
  	}

  	.cur_form_wrapper_form{
        min-width: 75%;
        min-height: 34%;
        padding: 40px;
    }

    .zeman_serv_information{
        font-size: 40px;
        color: #757575;
    }

    .cur_serv_form_el{
    	width: 100%;
        border: 3px #995380 solid;
        border-radius: 10px;
        font-size: 36px;
        padding: 8px;
        margin-bottom: 83px;
    }

    .cur_form_wrapper_form_sub{
        background-color: #BB91D3;
        border: 3px #995380 solid;
        border-radius: 10px;
        color: azure;
        padding: 5px;
        font-size: 40px;
    }

  	.zeman_form_element_input{
  		min-width: 95%;
  	}

  	.zeman_form_text_input{
  		min-width: 95%;
  	}

	.serv_prices{
		flex-wrap: wrap;
	}

	.topnav a:not(:first-child){
		display: none;
	}

	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: black;
	}

	nav{
		width: 100%;
		height: 53px;

	}


	.topnav.responsive{
		background-color: #fff;
		position: relative;
		z-index: 2;
	}

	.topnav.responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
		color: black;
    	font-size: 18px;
	}

	.description{
		max-width: 100%;
		text-align: center;
	}

	.prise_items{
		width: 40%;
	}

	.prise_items .size_price_img{
		width: 30%;
		transition: 0.5s;

	}

	.prise_items .size_price_img:hover{
		width: 40%;
		transition: 0.5s;
	}

	.contactad{
	font-size: 12px;
	}

	.prise_servs{
		width: 45%;
	}
	.prise_servs img{
		width: 80%;
	}

	.cert_content{
	width: 320px;
	}

	.vcinner_img{

	}
	.vcinner_img h2{
		font-size: 14px
	}

	.vcinner_img {
		width: 70%;
		margin-bottom: 35px;
	}
}




.zeman_wrapper{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.zeman_wrapper_workers_desc{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.zeman_worker{
	max-width: 500px;
	min-height: 435px;
	background: url(../img/backgroundcertfone.png) ;
	background-repeat: repeat-y;
	background-position: center !important;
    background-size: cover !important;
	border-radius: 15px;
	text-align: center;
	margin: 30px;
	padding: 15px;
	border: 15px #F0B171 solid;
}

.zeman_worker_img{
	width: 100%;
	padding-bottom: 30px;
}

.zeman_worker_img_class_border{

	width: 100%;
}

.zeman_worker_name{
	width: 100%;
	text-align: center;
	color: #B88757;

	font-size: 24px;
	padding-bottom: 15px;
}

.zeman_worker_desc{
	width: 100%;
	height: auto;
	color: #323232;
	font-size: 20px;
}





.serv{
	width: 80%;
	height: 80%;
	background: url(../img/backgroundcertfone.png) ;
	background-repeat: repeat-y;
	background-position: center !important;
    background-size: cover !important;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-radius: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.serv_left{
	width: 35%;
	min-width: 280px;
}

.serv_right{
	width: 60%;
	min-width: 280px;
	text-align: center;
}

.serv_img{
	width: 100%;
}

.serv_img_img{
	width: 87%;
}

.serv_price{
	text-align: center;
	width: 70%;
	background-color: #7929A8;
	border-radius: 15px;
	color: azure;
}

.serv_right,
.serv_left{
	font-size: 20px;
}

.serv_name{
	font-size: 23px;
	color: #F0B171;
	font-family: "Arial Black";
}

.serv_desc{
	line-height: 1.9;
}

.serv_right,
.serv_left,
.serv_img,
.serv_name,
.serv_desc{
	padding: 5px;
}

.serv_price{
	text-align: center;
	margin: 15px;
	padding: 4px;
	transition: 0.3s;
}

.serv_price:hover{
	background-color: #995380;
	transition: 0.3s;
}

.serv_price a{
	color: azure;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.serv_price_text {
	margin-bottom: 6px;
}

/*----------------GALLERY---------------------*/



section.gallery{
  position: relative;
  padding: 45px 0;
}
h2.title{
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 45px;
  position: relative;
}
h2.title:after{
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #111111;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.gallery-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 0;
  margin-top: 30px;
}
.gallery-item{
  display: block;
  flex: 25%;
  overflow: hidden;
  position: relative;
}
.gallery-item-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity .5s ease;
  z-index: 2;
}
.gallery-item:hover .gallery-item-hover{
  opacity: 1;
}
.gallery-item:hover img{
  transform: scale(1.3) rotate(5deg);
}
.gallery-item img{
  width: 100%;
  height: auto;
  transition: all .5s ease;
}
@media (max-width: 991px){
  .gallery-item{
    flex: 33.3%;
  }
}
@media (max-width: 768px){
  .gallery-item{
    flex: 50%;
  }
}
@media (max-width: 530px){
  .gallery-item{
    flex: 100%;
  }
}



/* cur_serv */

.cur_form_wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cur_form_wrapper_form{
	width: 20%;
	height: 20%;
	text-align: center;
	background: url(../img/backgroundcertfone.png) ;
	background-repeat: repeat-y;
	background-position: center !important;
    background-size: cover !important;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
	border-radius: 25px;
}

.cur_serv_form_el{
	width: 100%;
	border: 3px #995380 solid;
	border-radius: 10px;
	font-size: 18px;
	padding: 4px;
	margin-bottom: 10px;
}

.cur_form_wrapper_form_sub{
	background-color: #BB91D3;
	border: 3px #995380 solid;
	border-radius: 10px;
	color: azure;
	padding: 5px;
	font-size: 18px;
}

.zeman_serv_information{
	font-size: 18px;
	color: #757575;
}

.zeman_form_element_input{
	width: 60%;
	padding: 5px;
	border: 3px #995380 solid;
	border-radius: 10px;
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.salt_desc_name{
	width: 40%;
}

.zeman_wrapper_review{
	width: 100%;
	min-height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.zeman_wrap_wrap{
	width: 80%;
	height: 100%;
}

.zeman_review_wrapper{
	width: 100%;
	height: auto;
	background-color: azure;
	opacity: 0.6;
	border-radius: 15px;
	-webkit-box-shadow: 5px 10px 12px 1px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 5px 10px 12px 1px rgba(34, 60, 80, 0.2);
	box-shadow: 5px 10px 12px 1px rgba(34, 60, 80, 0.2);
	margin-top: 40px;
	padding: 15px;
}

.reviewer_name{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: flex-start;
	padding: 10px;
	font-size: 20px;
	color: #fd9a3f;
}

.review_text{
	width: 100%;
	height: auto;
	padding: 10px;
	font-size: 18px;
}

.zeman_form_text_input{
	width: 60%;
	height: 150px;
	border: 3px #995380 solid;
	border-radius: 10px;
	font-size: 18px;
	padding: 4px;
	margin-top: 20px;

}

.rev_form_input{
	margin-top: 60px;
}

.review_desc{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.review_desc_text{
	width: auto;
	height: auto;
	font-size: 23px;
}

.message_review{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.message_review_text{
	width: 70%;
	text-align: center;
	height: auto;
	border-radius: 15px;
	background-color: #8BBB77;
	color: azure;
	font-size: 25px;
	padding: 10px;
	opacity: 0.8;
	-webkit-box-shadow: 5px 10px 12px 1px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 5px 10px 12px 1px rgba(34, 60, 80, 0.2);
	box-shadow: 5px 10px 12px 1px rgba(34, 60, 80, 0.2);
}


main{
	min-height: 60vh;
}

.auer_certificates{
	width: 100%;
	height: 550px;
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

.left_cert, .right_cert{
	min-width: 350px;
	height: 100%;
	background-color: #995380;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 15px;
}