{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "admin/index.css" %}">
</head>
<body>
    <header>
        <div class="header">
            <ul>
                <li>
                    <a href="{% url "admin_control_page" %}" class="a_nav_z">
                        Заявки
                    </a>
                </li>
                <li>
                    <a href="{% url "admin_reviews_page" %}" class="a_nav_z">
                        Отзывы
                    </a>
                </li>
                <li>
                    <a href="{% url "admin_payment_page" %}" class="a_nav_z">
                        Оплата
                    </a>
                </li>
                <li>
                    <a href="{% url "admin_certificates_page" %}" class="a_nav_z">
                        Онлайн сертификаты
                    </a>
                </li>
                <li>
                    <a href="{% url "admin_aboniment_page" %}">
                        Абонименты
                    </a>
                </li>
                <li>
                    <a href="{% url "workers" %}" class="a_nav_z">
                        Спецалисты
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="table">
        <div class="table_in_box">
            <table border="1">
                <tr>
                    <th class="_name">Имя</th>
                    <th class="_phone_number">email</th>
                    <th class="_message">Сумма</th>
                    <th class="_message">Время</th>
                    <th class="_message">Статус</th>
                </tr>
                {% for pay in payment_list%}
                    <tr>
                        <td>{{ pay.name }}</td>
                        <td>{{ pay.email }}</td>
                        <td>{{ pay.sum }}</td>
                        <td>{{ pay.time }} минут</td>
                        <td>
                            <div class="certificate_admin_status">
                                <div class="status_status">
                                {{ pay.status }}
                                </div>
                                {% if pay.use_status == 'не использован' %}
                                <div class="close_certificate use" style="width: 90px; text-align: center;">
                                    <a href="update/{{ pay.id_payed }}" style="width: 100%; height: 100%;">
                                        Use
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>