{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "admin/index.css" %}">
</head>
<body>
    <header>
        <div class="header">
            <ul>
                <li>
                    <a href="{% url "admin_control_page" %}">
                        Заявки
                    </a>
                </li>
                <li>
                    <a href="{% url "admin_reviews_page" %}">
                        Отзывы
                    </a>
                </li>
                <li>
                    <a href="{% url "admin_payment_page" %}">
                        Оплата
                    </a>
                </li>
                <li>
                    <a href="{% url "admin_certificates_page" %}">
                        Онлайн сертификаты
                    </a>
                </li>
                <li>
                    <a href="{% url "admin_aboniment_page" %}">
                        Абонименты
                    </a>
                </li>
                <li>
                    <a href="{% url "workers" %}">
                        Спецалисты
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="table">
        <div class="table_in_box">
            <table border="1">
                <tr>
                    <th class="img">Фото</th>
                    <th class="name">Имя</th>
                    <th class="desc">Описание</th>
                    <th class="control">Управление</th>
                </tr>
                {% for worker in workers_list%}
                    <tr>
                        <td><img src="{{ MEDIA_URL }}{{ worker.worker_img.url }}" style="width: 300px"></td>
                        <td>{{ worker.worker_name }}</td>
                        <td>{{ worker.worker_desc }}</td>
                        <td class="delete_cert_td">
                            <div class="delete_certificate work">
                                <a href="workers_delete/{{ worker.id_worker }}" style="text-align: center">
                                    Удалить
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <th class="img">{{ form.worker_img }}</th>
                        <th class="name">{{ form.worker_name }}</th>
                        <th class="desc">{{ form.worker_desc }}</th>
                        <th class="control"><input type="submit" value="Добавить" class="worker_add"></th>
                    </form>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>